* {
  margin: 0;
  padding: 0;
  outline-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.user-content {
  color: white;
  text-shadow: 1px 1px black;
}

.user-content > h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.user-content input {
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
  letter-spacing: 2px;
  font-size: 40px;
  display: block;
  margin: 0 auto;
  width: 50%;
  border: none;
  border-bottom: 5px solid white;
  border-radius: 2px;
  height: 50px;

  font-weight: 600;
  background: transparent;
}

.clock {
  font-size: 100px;
  font-weight: 800;
}

.weather-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.weather-container > .weather-icon {
  width: 80px;
}

.weather-container > .text-container {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  display: flex;
}
.weather-unit {
  font-size: 16px;
  margin-left: 5px;
  margin-right: 10px;
}

.todo-container {
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 0.515);
  padding: 50px;
  border-radius: 10px;
  margin: 20px;
  display: none;
}

.todo-container > h1 {
  font-weight: 800;
  font-size: 40px;
}

#todo-input {
  background: transparent;
  border: none;
  border-bottom: 4px solid black;
  color: black;
  height: 20px;
  width: 90%;
  text-align: center;
  font-size: 24px;
  padding: 5px;
}

li {
  list-style: none;
}

.todo-list {
  margin: 30px 0px;
}

.todo-list h3 {
  font-size: 30px;
  text-align: left;
  padding-left: 5px;
}

.todo-list li {
  font-size: 20px;
  margin: 2px 0;
  text-align: left;
  padding-left: 12px;
  display: flex;
  align-items: center;
}

li button {
  margin-left: 5px;
}

.pending-list {
  margin-bottom: 30px;
}
